$header_height : 78px;
$other_height : calc(100vh - 70px);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
button {
    font-family: 'Segoe UI', sans-serif;
}

h3 {
    font-size: 40px;
    font-weight: normal;
    color: #404040;
    padding-top: 20px;
 }

 .round-image {
    border: black 5px solid;
    border-radius: 50%;
    margin: 5px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    height: $header_height;
    background: #F8F8F9;
    align-items: center;
    z-index: 5;

    .logo {
        display: flex;
        margin-left: 2%;
    }
}

nav {
    padding: 30px;
    width: 100%;
    ul {
        float: right;
        li {
            display: inline-block;
            a {
                display: inline-block;
                outline: none;
                color: #5f5f79;
                margin-left: 30px;
                font-size: 22px;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.04em;
            }
            a:hover {
                color: #808080;
                text-decoration: none;
            }
        }
        li:not(:first-child) {
            margin-left: 25px;
        }
    } 
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        z-index: -1;
        background: #1f2227;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;

        ul {
            position: absolute;
            top: 25%;
            transform: translateY(-50%);
            width: 100%;

            li {
                display: block;
                float: none;
                width: 100%;
                text-align: right;
                margin-bottom: 10px;

                a {
                    padding: 10px 25px;
                    opacity: 0;
                    visibility: hidden;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 600;
                    transform: translateY(-20px);
                    transition: all 0.2s ease;
                }
            }

            li:nth-child(1) a {
                transition-delay: 0.2s;
            }

            li:nth-child(2) a {
                transition-delay: 0.3s;
            }

            li:nth-child(3) a {
                transition-delay: 0.4s;
            }

            li:nth-child(4) a {
                transition-delay: 0.5s;
            }

            li:not(:first-child) {
                margin-left: 0;
            }
        }
    }

    .nav-open {
        position: absolute;
        right: 10px;
        top: 20px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;

        i {
            display: block;
            width: 20px;
            height: 2px;
            background: #1f2227;
            border-radius: 2px;
            margin-left: 14px;
        }

        i:nth-child(1) {
            margin-top: 16px;
        }

        i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
            visibility: visible;
        }

        i:nth-child(3) {
            margin-top: 4px;
        }
    }
}

#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
opacity: 0;
visibility: hidden;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
    visibility: visible;
} 

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hidden {
    display: none;
}


main {
    .home, .introduction, .skills, .portfolio, .contact {
        min-height: $other_height;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .home { 
        margin-top: $header_height;
        background: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);

        .title {
            min-height: 250px;
            display: flex;
            flex-direction: column;

            h1 {
                 font-size: 72px;
            }
        }

        .welcomeImage{
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer {
            min-height: 150px;
        }

        .title, .footer {
            width: 100%;
            justify-content: center;
        }
    }

    .introduction {
        background: linear-gradient(to right, #F6D365 0%, rgb(243, 212, 111) 100%);

        .row1 {
            flex: 1;
            display: flex;

            .intro, .hi-img {
                flex: 1;
                display: flex;
                justify-content: center;
                
            }

            .intro {
                flex-direction: column;
                align-items: flex-start;
                margin-left: 5%;
                text-align: left;

                h1 {
                    font-size: 130px;
                }

                h2 {
                    font-size: 90px;
                }
            }

            .hi-img {
                align-items: center;
            }

        }

        .row2 {
            min-height: 150px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            h1 {
                font-size: 35px;
                padding-bottom: 15px;
                font-weight: 400;
                color: #404040;
            }
        }
    }

    .skills {
        background: peru;
    }

    .portfolio {
        background: hotpink;
    }
    .contact {
        background: seagreen;
    }
}



span .goto { position:absolute; top:-$header_height;}


