$header_height : 85px;
$other_height : calc(100vh - 70px);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
button {
    font-family: 'Segoe UI', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    height: $header_height;
    background:  rgb(8, 163, 184);
    align-items: center;
    z-index: 5;

    .logo {
        display: flex;
        margin-left: 2%;
    }
}

nav {
    padding: 30px;
    width: 100%;
    ul {
        float: right;
        li {
            display: inline-block;
        }
    } 
}

main {
    .home, .introduction, .skills, .portfolio, .contact {
        height: $other_height;
        width: 100%;
        position: relative;
    }

    .home { 
        margin-top: $header_height;
        background: yellow;
    }

    .introduction {
        background: cyan;
    }

    .skills {
        background: peru;
    }

    .portfolio {
        background: hotpink;
    }
    .contact {
        background: seagreen;
    }
}

span{ position:absolute; top:-$header_height;}